<div class="container-fluid mx-auto">
  <div class="d-flex topbar uniqpadd justify-content-around">
    <div class="d-flex">
      <a class="phonenumber" href="#"><img src="..\assets\header1.png" class="img-fluid socialmedia" alt="">(00) 000 111 2222</a>
      <a class="phonenumber" href="#"><img src="..\assets\header2.png" class="img-fluid socialmedia" alt="">example@example.com</a>


    </div>

    <div class="d-flex justify-content-around media">
      <div class="socialmedia">
        <a class="" href="#"><img src="..\assets\header3.png" class="img-fluid" alt=""></a>
      </div>
      <div class="socialmedia">
        <a class=" " href="#"><img src="..\assets\header4.png" class="img-fluid" alt=""> </a>
      </div>
      <div class="socialmedia">
        <a class=" " href="#"><img src="..\assets\header5.png" class="img-fluid" alt=""></a>
      </div>
      <div class="socialmedia">
        <a class=" " href="#"><img src="..\assets\header6.png" class="img-fluid" alt=""></a>
      </div>
      <div class="socialmedia">
        <a class=" " href="#"><img src="..\assets\header7.png" class="img-fluid" alt=""></a>
      </div>
       

    </div>
  </div>
</div>>
<header class="container-fluid nav_style mx-auto">
    <div class="col-md-10 col-11 mx-auto">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container-fluid">
              <a class="navbar-brand PatientSystem" href="#"><img src="..\assets\patient.jpg" class="img-fluid patient" alt=""> Patient System</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse navitems" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item ">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Success Stories</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Download</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="/login" class="nav-link" href="#">Login</a>
                  </li>
                   
                   
                </ul>
                 
              </div>
            </div>
          </nav>
    </div>
</header>


<!-- banner-start -->

<div class="container-fluid">
  <div class="row">
    <div class="col-11 col-md-10 mx-auto">
      <div class="row">
        <h1 class="header_text">Lorem Ipsum is simply dummy text</h1>
        <p class="para_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, quaerat iste blanditiis aspernatur, nostrum doloribus ad ullam maiores dolor porro vel. Dolorum optio odit sequi eaque. Nihil nam ea sunt.</p>
      </div>
      <div class="d-flex justify-content-around align-items-center ">
        <button class="buttonlo">Lorem Ipsum</button>
        <button class="buttonlo">Lorem Ipsum</button>
      </div>

    </div>
  </div>
</div>

<!-- banner-end -->
 

<!-- 7points-start -->

<div class="container-fluid mx-auto">
  <div class="d-lg-flex uniqpadd justify-content-around align-items-center mt-2 justify-content-sm-center justify-content-md-center">
    <div  >
      <h3 class="pt-4" ><button class="spsanimg"><img src="..\assets\patient.jpg" class="img-fluid pointsimg" alt=""></button><span class="pointshead">Lorem impsum</span> </h3>
      <p class="pointspara">Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem lpsum has been the industry standed dummy text</p>
    </div>
    <div  >
      <h3 class="pt-4" ><img src="..\assets\Layer10.jpg" class="img-fluid pointsimg" alt=""><span class="pointshead">Lorem impsum</span></h3>
      <p class="pointspara">Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem lpsum has been the industry standed dummy text</p>
    </div>
  </div>
  <div class="d-lg-flex uniqpadd justify-content-around align-items-center mt-2 justify-content-sm-center justify-content-md-center">
    <div  >
      <h3 class="pt-4" ><img src="..\assets\L0001.jpg" class="img-fluid pointsimg" alt=""><span class="pointshead">Lorem impsum</span> </h3>
      <p class="pointspara">Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem lpsum has been the industry standed dummy text</p>
    </div>
    <div  >
      <h3 class="pt-4"><img src="..\assets\L0002.jpg" class="img-fluid pointsimg" alt=""><span class="pointshead">Lorem impsum</span></h3>
      <p class="pointspara">Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem lpsum has been the industry standed dummy text</p>
    </div>
  </div>
  <div class="d-lg-flex uniqpadd justify-content-around align-items-center mt-2 justify-content-sm-center justify-content-md-center">
    <div  >
      <h3 class="pt-4"><img src="..\assets\L0003.jpg" class="img-fluid pointsimg" alt=""><span class="pointshead">Lorem impsum</span> </h3>
      <p class="pointspara">Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem lpsum has been the industry standed dummy text</p>
    </div>
    <div  >
      <h3 class="pt-4"><span class="spsanimg"><img src="..\assets\L0001.jpg" class="img-fluid pointsimg" alt=""></span><span class="pointshead">Lorem impsum</span></h3>
      <p class="pointspara">Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem lpsum has been the industry standed dummy text</p>
    </div>
  </div>
   
<!-- 7points-end -->

<!-- clinician-start -->

<div class="container-fluid clinician  pt-10">
  <div class="row">
    <div class="col-11 col-md-10 mx-auto">
      <div class="row">
        <h1 class="header_text service">Services</h1>
        <p class="para_text servicepara ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, quaerat iste blanditiis aspernatur, nostrum doloribus ad ullam maiores dolor porro vel. Dolorum optio odit sequi eaque. Nihil nam ea sunt.</p>
        <h2 class="justify" >Lorem lpsum</h2>

      </div>
    </div>
  </div>

  <div class="d-lg-flex uniqpadd pad">

    <div class="d-lg-flex flex-column">
      
        <div class="servicee   ">
          <div class="serviceright ">
            <img  src="..\assets\L0001.jpg" class="image " alt=""> 
          </div>  
           
          <div class="serviceright">Lorem lpsum</div>
          <div class="pararight">Lorem lpsum is simply dummy text of the printing</div>
        </div>
        <div class="servicee">
          <div class="img1 serviceright"><img src="..\assets\service2.png" class="image" alt=""></div>
          <h3 class="serviceright">Lorem lpsum</h3>
          <p class="pararight">Lorem lpsum is simply dummy text of the printing</p>
        </div>
        <div class="servicee">
          <div class="serviceright ">
            <img src="..\assets\service3.png" class="image " alt="">
          </div>
          <h3 class="serviceright">Lorem lpsum</h3>
          <p class="pararight">Lorem lpsum is simply dummy text of the printing</p>
        </div>
      

    </div>


    <div class="d-lg-flex justify-content-center align-items-center clinicianpatient">
      <div>
        <img src="..\assets\patient.jpg" class="img-fluid serviceimg " alt="">
        <p class="patientpa">Patient System</p>
      </div>

    </div>

    <div class="d-lg-flex flex-column">
      <div class="service1 servicee">
        <img src="..\assets\service4.png" class="image" alt="">
        <h3 class="serviceleft">Lorem lpsum</h3>
        <p class="paraleft">Lorem lpsum is simply dummy text of the printing</p>
      </div>
      <div class="service1 servicee">
        <span class="img1"><img src="..\assets\service5.png" class="image" alt=""></span>
        <h3 class="serviceleft">Lorem lpsum</h3>
        <p class="paraleft">Lorem lpsum is simply dummy text of the printing</p>
      </div>
      <div class="service1 servicee">
        <img src="..\assets\service6.png" class="image" alt="">
        <h3 class="serviceleft">Lorem lpsum</h3>
        <p class="paraleft">Lorem lpsum is simply dummy text of the printing</p>
      </div>


    </div>

  </div>
</div>

<!-- clinician-END -->

<!-- footer-start -->

<footer class="container-fluid mx-auto uniqpadd ">
  <div class="d-lg-flex justify-content-between mar">
    <div class="aboutas">
      <h3 class="abouthead">About as</h3>
      <p class="aboutpara">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna alique. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commoda consequat</p>
    </div>

    <div>
      <h3 class="callus">Call Us</h3>
      <p class="calluspara">(00) 000 000 0000</p>
      <h3 class="callus">Send Us Mail</h3>
      <p class="calluspara">example@example.com</p>
    </div>

    <div>
      <h3 class="keepintouch">Keep in Touch</h3>
      <div class="d-flex justify-content-around media">
        <div class="socialmedia">
          <a class="" href="#"><img src="..\assets\header3.png" class="img-fluid" alt=""></a>
        </div>
        <div class="socialmedia">
          <a class=" " href="#"><img src="..\assets\header4.png" class="img-fluid" alt=""> </a>
        </div>
        <div class="socialmedia">
          <a class=" " href="#"><img src="..\assets\header5.png" class="img-fluid" alt=""></a>
        </div>
        <div class="socialmedia">
          <a class=" " href="#"><img src="..\assets\header6.png" class="img-fluid" alt=""></a>
        </div>
        <div class="socialmedia">
          <a class=" " href="#"><img src="..\assets\header7.png" class="img-fluid" alt=""></a>
        </div>
         
  
      </div>
      
    </div>

  </div>

  <div class="d-flex justify-content-md-center">

   
      <div class="px-2"><a aria-current="page" href="#"> Home </a></div>
     
     
      <div class="px-2"><a href="#">Services</a></div>
    
    
      <div class="px-2"><a href="#">Success Stories</a></div>
     
     
      <div class="px-2"><a href="#">Download App</a></div>
    
   
      <div class="px-2"><a href="#">About Us</a></div>
    
   
       
   

  </div>

  <div  class="justify py-3" >&copy; 2020 Patient System. All Rights Reserved</div>
 

   
</footer>

<!-- footer-start -->